:root {
	--min-color1: #2a2d3c;
	--min-color2: #28ea89;
	--text-color: #e5e5e5;
    --hover-color: #00E1FF;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Comfortaa', cursive;
	background-color: var(--min-color1);
}
.main-btn {
    background-color: var(--min-color2);
    color: #fff;
    padding: 0.5rem 1rem;
}
.main-btn:hover {
    color:var(--hover-color);
}
/* start Scroll To Top */
.up {
    position: fixed;
    bottom: 10px;
    right: -40px;
    background-color: var(--min-color2);
    color: var(--min-color1);
    border: 1px solid var(--min-color1);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1500;
}
.up.show {
    right: 10px;
}
/* end Scroll To Top */
/* start header */
.header {
	min-height: 100vh;
	background-image: url(/imegs/bg.jpg);
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
/* start navbar */
.navbar .navbar-brand img {
	width: 250px;
}
.navbar .collapse {
	flex-grow: 0;
}
.navbar .navbar-nav li {
	padding: 20px;
}
.navbar .navbar-nav .nav-link {
    color: var(--text-color);
}  
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--min-color2);
}
.navbar .navbar-toggler {
    color: var(--text-color);
    font-size: 25px;
    border-color: var(--min-color1);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--min-color2);
}
/* end navbar */
/* start landing */
.landing {
    min-height: calc(100vh - 126px);
    position: relative;
    z-index: 2;
}
/* end landing */
/* end header */
/* start apps */
.apps {
	min-height: 200px;
}
.row {
	margin-right: 0;
}
.row > * {
    padding-right: 0;
}
.apps .app1,
.apps .app2, 
.apps .app3 {
	text-align: center;
	padding: 40px 0;
}
.apps svg,
.apps p {
	color: var(--min-color2);
}
.apps h4 {
	color: var(--text-color);
}
.apps .app1 {
	background-color: #345363;
}
.apps .app2 {
	background-color: var(--min-color1);
}
.apps .app3 {
	background-color: #555f5e;
}
/* end apps */
/* start office */
.office {
	/* min-height: 270px; */
    background-color: #fff;
	color: #999;
}
.office .info {
	margin: 30px 60px 30px 100px ;
}
.office .intro-info li {
	list-style:none;
	padding-top:10px;
}
.office .imges img {
	width: 100%;
    height: 100%;
}
/* end office */
/* start video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: #2a2d3c4a;
    color: white;
    text-align: center;
}
.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
/* end video */
/* start blog */
.blog {
	background-color: var(--min-color2);
	position: relative;
}
.blog .text h2 {
	color: var(--min-color1);
}
.blog .text p {
	color: #fff;
}
.blog .card {
	border: none;
}
.blog .card h5 {
	color: var(--min-color1);
}
.blog .card p {
	color: #8f8f8f;
}
#show1,
#show2 {
    display: none;
    transition: all 0.5s ease;

}
.main-btn-blog {
    background-color: var(--min-color1);
    color: var(--min-color2);
    padding: 0.5rem 1rem;
}
.main-btn-blog:hover {
    color:var(--hover-color);
}
.blog .plus-icon {
	position: absolute;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
	left: 50%;
    transition: 0.2s;
    transform: translate(-50%, -50%);
}
.blog .plus-icon:hover {
background-color: var(--min-color1);
}
.blog .plus-icon::before {
	content: '+';
    color: var(--min-color2);
    font-size: 2.5em
}
/* end blog */
/* start ads */
.ads .container h2,
.ads .container p {
    color: #fff;
}
.main-btn-ads1 {
    background-color: var(--min-color2);
    color: #fff;
    padding: 0.5rem 1rem;
}
.main-btn-ads1:hover {
    color:var(--hover-color);
}
.main-btn-ads2 {
    background-color: #fff;
    color: var(--min-color2);
    padding: 0.5rem 1rem;
}
.main-btn-ads2:hover {
    color:var(--hover-color);
}
/* end ads */
/* start contact */
.contact {
    background-color: #fff;
}
.contact .contact-text {
    padding: 0 35px;
}
.contact .contact-text p {
    color: #8f8f8f;
}
.contact .contact-text span {
    color: var(--min-color2);
}
.contact .social-icon ul {
    list-style: none;
}
.contact .social-icon ul li {
    display: inline-block;
    padding-right: 25px;
}
.contact .social-icon ul li a svg{
    color: #000;
}
.contact .social-icon ul li a svg:hover {
    color: var(--hover-color);
}
.contact .contact-text p a {
    color: #000;
}
.contact .contact-text p a:hover {
    color: var(--hover-color);
}
/* end contact */
/* start footer */
.footer p {
	font-size:12px;
	color: #fff;;
}
.footer p span{
	color: var(--min-color2);
}
.footer a {
	color:var(--min-color2);
	text-decoration:none;
    text-align: center;
}
.footer a:hover {
	color:var(--hover-color);
}
/* end footer */